---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx
  namespace: {{ pg_namespace }}
data:
  index.html: |
    <!doctype html>
    <html>
      <head>
        <title>Website</title>
      </head>
      <body>
        <p>Sorry, this website it currently offline.</p>
      </body>
    </html>
