---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx
  namespace: {{ pg_namespace }}
data:
  index.html: |
    <html>
      <body>
        <p style="text-align: center;">
          <span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Sorry</span>
          but this website is temporarily out of service
        </p>
      </body>
    </html>
